
.nav-bar-peon {
    background-color:rgba(0, 100, 255, 0.1) !important;
}

.issue-title-0 {
    background-color:rgba(214, 230, 255, 0.2);
}

.issue-title-1 {
    background-color:rgba(0, 100, 255, 0.1);
}
